*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Supermercado One', sans-serif;
    background-color: azure;
}

header {
    background-color: coral;
    color: antiquewhite;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    border-radius: 50%;
    cursor: pointer;
}